@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom right, #08244F 0%, #134CB5 47%, #0B42AB 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
